@{
    ViewBag.Title = "Домашняя страницы";
}

<body style="background-image:url(/Content/Imgn/n.jpg)">
    <h3>Вы имеете доступ к следующим функциям системы:</h3>
    <br>
    <div>
        <ul>
            <li>@Html.ActionLink("Список работников", "IndexH", "Employees")</li>
            <li>@Html.ActionLink("Список остановок", "Index", "Hult")</li>
            <li>@Html.ActionLink("Список автобусов", "Index", "Bus")</li>
            <li>@Html.ActionLink("Список сервисных работ", "Index", "Service")</li>
            <li>@Html.ActionLink("Список маршрутов", "Index", "Route")</li>
            <li>@Html.ActionLink("Список путевых листов", "Index", "Waybil")</li>
            <li>@Html.ActionLink("Посмотреть список пользователей", "Index", "Users")</li>
            <ul>
    </div>
    <br>
    </body>
