@model BusCompany.Models.Driver

@{
    ViewBag.Title = "Удаление водителя";
}

<h3>Удалить водителя</h3>

<h3>Вы уверены что хотите удалить данного водителя?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Табельный номер
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonnelNumber)
        </dd>

        <dt>
           Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            Дата рождения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            Опыт работы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            Заработная плата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            Должность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            категория водительских прав
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories)
        </dd>

        <dt>
            Дата окончания прав
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightsDate)
        </dd>

        <dt>
            Прикрепление к маршруту
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnRoute)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
