@model BusCompany.Models.Conductor

@{
    ViewBag.Title = "DetailsConductor";
}

<div>
    <h4>Информация о кондукторе</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Табельный номер
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonnelNumber)
        </dd>

        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            Дата рождения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            Опыт работы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            Заработная плата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
        @if (this.Model.Prize != 0)
        {
            <dt>
                Премия
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prize)
            </dd>

            <dt>
                Зарплата с учётом премии
            </dt>

            <dd>
                @(Model.Salary + Model.Prize)
            </dd>
        }
        <dt>
            Должность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            Прикрепление к маршруту
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnRoute)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Назад", "Index") |
    @Html.ActionLink("Назначить премию", "AwardPrize", new { id = Model.PersonnelNumber })
</p>
