@model BusCompany.Models.Service

@{
    ViewBag.Title = "Delete";
}



<h3>Вы уверены что хотите удалить данную запись?</h3>
<div>
    <hr />
   <dl class="dl-horizontal">
        <dt>
            Авто
        </dt>
        <dd>
        </dd>
        <dt>
            Номерной знак
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdBus)
        </dd>
        <dt>
            Марка
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bus.Mark)
        </dd>
        <br>

        <dt>
            Механик
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.LastName)
            @Html.DisplayFor(model => model.Employees.FirstName)
            @Html.DisplayFor(model => model.Employees.MiddleName)
        </dd>
        <br>
 
        <dt>
            Дата
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceDate)
        </dd>
        <br>
        <dt>
            Тип работы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfWork)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
