@model BusCompany.Models.Service

@{
    ViewBag.Title = "Details";
}

<h2>Информация о ремонте</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Автобус
        </dt>
        <dd>
        </dd>
        <dt>
            Номерной знак
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdBus)
        </dd>
        <dt>
            Марка
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bus.Mark)
        </dd>
        <br>

        <dt>
            Механик
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.LastName)
            @Html.DisplayFor(model => model.Employees.FirstName)
            @Html.DisplayFor(model => model.Employees.MiddleName)
        </dd>
        <br>
 
        <dt>
            Дата
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceDate)
        </dd>
        <br>
        <dt>
            Тип работы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfWork)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
