@model IEnumerable<BusCompany.Models.Hult>

<br>
<h2>Список остановок</h2>
<p>
    @Html.ActionLink("Создать новую остановку", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Название остановки
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HultName)
        </td>
        <td>
            @Html.ActionLink("Переименовать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Маршруты", "Details", new { id = item.Id }) |
            @Html.ActionLink("Удалить остановку", "Delete", new { id = item.Id })
        </td>
    </tr>
}
</table>
